nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    line-height: 25px;
    color: white;
  }
  
  .header-blink {
      background-size: cover;
      width: 138px;
      height: 25px;
      object-fit: contain;
    }
  
  #nav-center {
    justify-content: space-between;
  }
  
  #nav-center span {
      margin: 0em 2em;
  }
  /*.menu-item:hover {*/
  /*    background-color:  #495057 ;*/
  /*}*/
  /*.menu-item:active, .menu-item.active {*/
  /*    background-color:  #1862ab ;*/
  /*}*/