.home-container{
    display: flex;
}

.home-item{
    width: 399px;
    height: 653px;
    text-align: center;
}

.home-item:nth-child(1){
    flex : 1;

}

.home-item:nth-child(2){
    flex : 1;

}

.home-item:nth-child(3){
    flex : 1;
}



.home-img{
    width: 318px;
    height: 205px;
}

.home-p{
    width: 330px;
    height: 177px;
}