/* @font-face {
  font-family: "arcade";
  src: url("/assets/ARCADECLASSIC.TTF");
} */

body {
  margin: 0;
  /* font-family: "arcade", sans-serif; 여기랑 위에 font-face를 살리면 폰트가 적용 됩니다 그리고 바로 밑에 font-family: sans-serif; 를 주석처리해주세요*/
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010035;
  background-image: url("/img/background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 900px;
  padding-bottom: 40px;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: inherit;
}

img {
  max-width: 100%;
}

input {
  font-family: "arcade";
  font-size: 24px;
}

button {
  font-family: "arcade";
  font-size: 24px;
}
