.container{
    display : flex;
    justify-content: center;
    align-content: center;
}

.item{

}
.item:nth-child(1){
    width: 640px;
    height: 480px;
    position:relative;
    margin: 20px;
    order:2;
}
.item:nth-child(2){
    width: 640px;
    height: 480px;
    margin: 20px;
    order:1;
}

#game-play-screen{
}

#game-play-screen-gameover {
    background: #000;
    width: 100%;
    /*height: 480px;*/
    position: absolute;
    z-index: 999;
    display: none;
    color: #fff;
}


#_wrapper, #_webcam, #_imageData, #_faceSub, #_t3d, #_f3d, #_drawing, #_progressBar{
    position: absolute;
    top: 0px;
    left: 0px;
}