.menu {
    display: flex;
    height: 3.5rem;
}
.menu-item {
    display: inline-block;
    font-size: 1rem;
    color: #282c34;
    line-height: 3.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:nth-child(1){
    flex:1;
}

.menu-item:nth-child(2){
    flex:6;
}

.menu-item:nth-child(3){
    flex:1;
}

/*.menu-item:hover {*/
/*    background-color:  #495057 ;*/
/*}*/
/*.menu-item:active, .menu-item.active {*/
/*    background-color:  #1862ab ;*/
/*}*/

